@import "../../responsive.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: stretch; 
  height: 100vh;

  .validate{
    flex:3;
    
    h1{
      margin-bottom: 20px;
    }
    
    .text{
      margin-top: 20px;
      font-size: 24px;
    }
    
  }

  .sideContainer {
    flex: 2; 
    background-color: #fcaa84;
    height: 100%;
    
    @include md{
      flex:none;
      height: max-content;
    }
   
  }
}